{% extends 'restaurantMgr/base.html' %}
{% load static %}


{% block css_content %}
<link href="{% static 'restaurantMgr/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<style>
    .order_filter {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block html_content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div id="choose_pending_orders_btn" class="card border-left-primary shadow h-100 py-2 order_filter">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Pending</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Orders</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div id="choose_confirmed_orders_btn" class="card border-left-success shadow h-100 py-2 order_filter">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                On the way</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Orders</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div id="choose_delivered_orders_btn" class="card border-left-info shadow h-100 py-2 order_filter">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Delivered</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Orders</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div id="test_btn" class="card border-left-warning shadow h-100 py-2 order_filter">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pending orders table -->
    <div id="pending_orders_table" class="card shadow mb-4 order_table" style="display: none;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Pending Orders</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="pending_dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Order#</th>
                            <th>Time</th>
                            <th>Subtotal</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Order#</th>
                            <th>Time</th>
                            <th>Subtotal</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for order in orders_pending %}
                        <tr>
                            <td>{{order.order_num}}</td>
                            <td>{{order.order_time}}</td>
                            <td>{{order.subtotal}}</td>
                            <td>{{order.address.street_address1}}, {{order.address.street_address2}}</td>
                            <td class="text-center">
                                <a href="{% url 'restaurantMgr:orderDetail' order.id %}">Check</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end of pending orders table -->
    <!-- confimred oredrs table -->
    <div id="confirmed_orders_table" class="card shadow mb-4 order_table" style="display: none;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Confimred Orders</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="confirmed_dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Order#</th>
                            <th>Time</th>
                            <th>Subtotal</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Order#</th>
                            <th>Time</th>
                            <th>Subtotal</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for order in orders_confirmed %}
                        <tr>
                            <td>{{order.order_num}}</td>
                            <td>{{order.order_time}}</td>
                            <td>{{order.subtotal}}</td>
                            <td>{{order.address.street_address1}}, {{order.address.street_address2}}</td>
                            <td>
                                {% if order.status is 1 %}
                                On the way
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end of confimred orders table -->
    <!-- delivered oredrs table -->
    <div id="delivered_orders_table" class="card shadow mb-4 order_table" style="display: none;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Delivered Orders</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="delivered_dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Order#</th>
                            <th>Time</th>
                            <th>Subtotal</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Order#</th>
                            <th>Time</th>
                            <th>Subtotal</th>
                            <th>Address</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for order in orders_delivered %}
                        <tr>
                            <td>{{order.order_num}}</td>
                            <td>{{order.order_time}}</td>
                            <td>{{order.subtotal}}</td>
                            <td>{{order.address.street_address1}}, {{order.address.street_address2}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end of delivered orders table -->
</div>

{% endblock %}

{% block js_content %}
<script src="{% static 'restaurantMgr/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'restaurantMgr/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- <script src="{% static 'restaurantMgr/js/demo/datatables-demo.js' %}"></script> -->
<script>
    $('#choose_pending_orders_btn').click(function () {
        // console.log(this);
        $('.order_table').hide();
        $('#pending_orders_table').show();
    });

    $('#choose_confirmed_orders_btn').click(function () {
        // console.log(this);
        $('.order_table').hide();
        $('#confirmed_orders_table').show();
    });

    $('#choose_delivered_orders_btn').click(function () {
        // console.log(this);
        $('.order_table').hide();
        $('#delivered_orders_table').show();
    });

    $('#test_btn').click(function () {
        console.log(this);
        $('.order_table').hide();
        // $('#delivered_orders_table').show();
    });

    $(document).ready(function () {
        $('#pending_dataTable').DataTable();
        $('#confirmed_dataTable').DataTable();
        $('#delivered_dataTable').DataTable();
        $('#pending_orders_table').show();
    });
    $('#dashboard_tab').addClass('active');

</script>
{% endblock %}