<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block css_content %}
    {% endblock %}

    <title>Take-out online</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'mainpage:home' %}">Online Take-out</a>
        <!-- <a class="navbar-brand" href="{% url 'mainpage:home' %}">Online Take-out</a> -->
        {% if user.is_authenticated %}
            <span>Welcome, {{user.username}}</span>
        {% endif %}
        <p></p>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cart
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'mainpage:showCart' %}">Show Cart</a>
                        <!-- <a class="dropdown-item" href="#">Another action</a> -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" id="flush_cart_btn">Flush Cart</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'authenticate:edit_user_profile' %}">Edit profile</a>
                        <a class="dropdown-item" href="{% url 'mainpage:manageAddress' %}">Your Addresses</a>
                        <div class="dropdown-divider"></div>
                        {% if user.is_restaurant %}
                        <a class="dropdown-item" href="{% url 'restaurantMgr:index' %}" >My Restaurant</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'restaurantMgr:createRestaurant' %}" >Open Restaurant</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="orderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Order
                    </a>
                    <div class="dropdown-menu" aria-labelledby="orderDropdown">
                        <a class="dropdown-item" href="{% url 'mainpage:manageOrder' %}?page=1">Active Orders</a>
                        <a class="dropdown-item" href="{% url 'mainpage:getOrderHistory' %}">Archived Orders</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authenticate:logout' %}" id="logout_btn">Logout</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authenticate:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authenticate:register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <br />
    <div class="row" style="height: 4rem;"></div>

    {% block jumbotron_content %}
    {% endblock %}
    <div class="container">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>&times;</sup></small>
            </button>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static 'mainpage/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'mainpage/js/js.cookie.js' %}"></script>
    <script>
        var base_url;
        {% if user.is_authenticated %}
        Cookies.set('current_user', "{{user.username}}");
        {% endif %}

        // get cart from cookies
        function getCart() {
            var username = Cookies.get('current_user');
            var cart = Cookies.getJSON(username+'-cart');
            if (cart === undefined) {
                cart = {};
            }
            return cart;
        }

        // remove the cart in the cookies
        function flushCart(){
            var username = Cookies.get('current_user');
            Cookies.remove(username + '-cart');
            console.log(username + '-cart');
        }

        // remove the cart content stored in the db and cookies
        $("#flush_cart_btn").click(function(){
            var confirmation = window.confirm("You sure to empty your shopping cart?");
            if(!confirmation){
                return;
            }
            $.get("{% url 'mainpage:flushCart' %}")
            .done(function(data){
                if(data === '1'){
                    flushCart();
                    alert('Cart flushed!');
                    // $('#my_cart_div').empty();
                    location.reload();
                }
            })
        });

        // clear cookies after logout
        function clearCookies(){
            curr_user = Cookies.get('current_user');
            Cookies.remove(curr_user+'-cart');
            Cookies.remove('current_user');
            Cookies.remove('csrftoken');
        }

        function logout_logic(){
            console.log('Do logout logic');
            syncCartToServer().then(function(result){
                if(result === 'Cart synced'){
                    clearCookies();
                }
            });
        }


        $('#logout_btn').click(logout_logic);

        function syncCartFromServer(){
            curr_user = Cookies.get('current_user');
            cart_key = curr_user + '-cart';
            return $.get(base_url+'/sync_cart/')
            .then(function(data){
                // console.log(data);
                if(data === ''){
                    console.log('Cart on Server is empty. Init with {}')
                    Cookies.set(cart_key, {});
                }else{
                    console.log('Cart on Server is: ' + data);
                    Cookies.set(cart_key, data);
                }
                return 'Cart synced';
            });
        }

        function syncCartToServer(){
            curr_user = Cookies.get('current_user');
            cart = Cookies.get(curr_user + '-cart');
            if(cart === undefined){
                return 'Failed';
            }
            return $.post(base_url+'/sync_cart/', {
                csrfmiddlewaretoken: Cookies.get('csrftoken'),
                cart: cart
            }).then(function(data){
                if(data === '1'){
                    console.log('Pushed');
                    return 'Cart synced';
                }
            })
        }

        /*
        synchronize cart between client-side cookies and server-side db.
        First, synchronize the local cookies which stores the cart data to the server.
        Second, pull the data from
        */
        function syncCart(){
            var base_url = window.location.origin;
            const promise1 = new Promise(function(resolve, reject){
                curr_user = Cookies.get('current_user');
                cart = Cookies.get(curr_user + '-cart');
                if(cart === undefined){
                    resolve('Local Null');
                    return;
                }else{
                    console.log(base_url);
                    $.post(base_url+'/sync_cart/', {
                        csrfmiddlewaretoken: Cookies.get('csrftoken'),
                        cart: cart
                    }).then(function(data){
                        if(data === '1'){
                            console.log('Pushed');
                            reject('Already pushed. No need to get!');
                        }
                    })
                }
            }).then(function(data){
                // resolve handler
                console.log(data);
                syncCartFromServer();
            }, function(reason){
                // reject handler
                console.log(reason);
            })
        }
        $(document).ready(function(){
            base_url = window.location.origin;
            Cookies.set('base_url', base_url);
        });

    </script>
    {% block js_content %}
    {% endblock %}
</body>

</html>