{% extends 'mainpage/base.html' %}
{% load static %}

{% block content %}

<br />
<div id="my_cart_div"></div>

{% endblock %}


{% block js_content %}
<script>
    function listCart() {
        cart = getCart();
        console.log(cart);
        my_cart_div = $("#my_cart_div");
        $.each(cart, function (restaurant, restaurant_cart_info) {
            my_cart_div.append(`<div class="card" id="` + restaurant + "-card" +`"><div class="card-header"><b>`
                            + restaurant_cart_info['name'] + `</b></div><div class="card-body"></div></div>` )
            // console.log('----------');
            card_id = restaurant;
            card = my_cart_div.find('#'+card_id+'-card');
            restaurant_card_body = card.find('.card-body');
            // console.log(restaurant);
            iteminfo_list = restaurant_cart_info['iteminfo_list']
            $.each(iteminfo_list, function(item, iteminfo){
                restaurant_card_body.append(`
                <div class="card mb-3" style="width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <img style="height:12rem;" src="{{MEDIA_URL}}` + iteminfo['image'] +`" class="card-img" alt="#">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">`+ iteminfo['title'] +`</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional
                                    content. This content is a little bit longer.</p>
                                    <div class="row">
                                        <div class="col">
                                            <label>Quantity</label>
                                            <select class="custom-select custom-select-sm" style="width:auto;">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col col-lg-2">
                                        </div>
                                        <div class="col">
                                            <b class="mr-auto">Unit Price: ` + iteminfo['price'] +`</b>
                                        </div>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>`
                );
            });
            // current no use but plan to use it in the future
            item_card_body_list = restaurant_card_body.find('card-body');

            card.append('<div class="card-footer text-right"><button type="button" class="btn btn-primary">Place Order</button></div>')
            my_cart_div.append('<br/>')
            // console.log(restaurant_cart_info['iteminfo_list']);
            // console.log(card_body);
        });
    }
    listCart();
</script>
{% endblock %}