{% extends 'mainpage/base.html' %}
{% load static %}

{% block css_content %}
<link rel="stylesheet" href="{% static 'mainpage/css/card_detail.css' %}">
{% endblock %}

{% block content %}

<br />

<div id="cart_app_div">
    <restaurant-card :cart="cart"></restaurant-card>
</div>


{% endblock %}


{% block js_content %}
<script src="{% static 'mainpage/js/vue.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="{% static 'mainpage/js/cartUtil.js' %}"></script>
<script>

</script>
{% endblock %}