{% extends 'mainpage/base.html' %}
{% load static %}

{% block css_content %}
{% endblock %}

{% block content %}

<br />
<!-- the orders are sorted accroding to last update time -->
<h1>You have {{order_length}} orders in total</h1>
<div id="orderlist_app_div">
    {% for order in order_list %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col text-left">
                    <!-- <b><a href="{% url 'mainpage:menu' order.restaurant_id %}">{{order.restaurant}}</a></b> -->
                    {% if order.status is 0 %}
                        <b>Placed</b>
                    {% elif order.status is 1 %}
                        <b>On the way</b>
                    {% elif order.status is 2%}
                        <b>Delivered</b>
                    {% elif order.status is 3%}
                        <b>Declined by the restaurant</b>
                    {% endif %}
                </div>
                <div class="col text-right">
                    <span class="text-right">Order# {{order.order_num}}</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <restaurant-order :order_id="{{order.id}}"></restaurant-order>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col text-left">
                    <span class="subtotal_span">Subtotal: {{order.subtotal}}</span>
                </div>
                {% if order.status is 1 %}
                <div class="col text-right">
                    <button class="btn btn-success confirm_delivery_order_btn" onclick="confim_delivery_order({{order.id}})">Confirm Delivered</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </br>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination_ul">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            {% for page_id in page_id_list %}
            <li class="page-item"><a class="page-link" href="{% url 'mainpage:manageOrder' page_id %}">{{page_id}}</a></li>
            {% endfor %}
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>



{% endblock %}


{% block js_content %}
<script src="{% static 'mainpage/js/vue.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="{% static 'mainpage/js/orderMgrUtil.js' %}"></script>
<script>

function confim_delivery_order(order_id){
    $.post("{% url 'mainpage:confirmDelivery' %}", {
        csrfmiddlewaretoken: Cookies.get('csrftoken'),
        order_id: order_id
    }).then(function(data){
        console.log(data);
        location.reload();
    });
}
</script>

{% endblock %}